* {
    font-family: "Times New Roman", "Courier New", sans-serif;
    background-color: black;
    text-align: center;
}

h1 {
    color: rgb(93, 253, 203);
    text-align: center;
    font-size: 50px;
}

a {
    font-weight: bold;
    font-size: 36px;
}

img {
    height: auto;
    width: 500px;
}

.subtitle {
    font-size: 36px;
    color: rgb(201, 249, 255);
}

ul,
ol {
    color: rgb(93, 253, 203);
    list-style-position: inside;
}

strong {
    font-size: 24px;
    color: rgb(191, 208, 224);
}

p {
    color: rgb(144, 215, 255);
}